@import '../../../styles/settings.scss';

.root {
  margin: auto;
  width: 70%;
  text-align: center;

  .adForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black 2px solid;
    padding: 20px 0;

    .formInput {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      margin: 20px 0;

      input, textarea {
        width: 80%;
      }
    }
  }
}
