@import '../../../styles/settings.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  padding: 50px;
  margin: 20px auto;
  background-color: $layout-color;

  .title {
    color: $appBar-color;
    font-family: $logo-font;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    margin: 10px 0;
  }
}
