@import '../../../styles/settings.scss';
*, *::before, *::after {
  box-sizing: border-box;
}

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 50px;
  margin: 20px auto;
  background-color: $layout-color;
  .title {
    color: $appBar-color;
    font-family: $logo-font;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    margin: 10px 0;
  }
  .button {
    font-family: $text-font;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    background-color: $appBar-color;
    border-radius: 5px;
    color: $background-color;
    text-decoration: none;
    padding: 10px 20px;
    margin: 40px auto 20px auto;
  }
}
