@import '../../../styles/settings.scss';

  .appBar {
    background-color: $appBar-color;
    width: 90%;
    margin: auto;
    .root {
    display: flex;
    align-items: center;
    justify-content: start;
    color: $background-color;

    .title {
      font-size: 30px;
      padding: 0;
      margin: 10px;
      font-family: $logo-font;
      font-weight: 400;
      text-transform: uppercase;
      width: 95%;
      margin-left: 3%;
    }

    .home {
      font-size: 30px;
      color: $background-color;
    }

    .logged {
      display: flex;
      width: 10%;
      align-items: center;

      .profile {
      font-size: 30px;
      margin-right: 20px;
      }

    .button {
      font-size: 15px;
      color: $background-color;
      text-decoration: none;
      }
    }
  }
}
